name: CI
on:
  pull_request:
  push:
    branches:
      - main
jobs:
  test:
    runs-on: ubuntu-20.04
    env:
      MIX_ENV: test
      # TODO: Remove on Req 1.0
      REQ_NOWARN_OUTPUT: true
    strategy:
      fail-fast: false
      matrix:
        include:
          - pair:
              elixir: "1.13"
              otp: "24.3.4.10"
          - pair:
              elixir: "1.15"
              otp: "26.0"
            lint: lint
    steps:
      - uses: actions/checkout@v3

      - uses: erlef/setup-beam@main
        with:
          otp-version: ${{ matrix.pair.otp }}
          elixir-version: ${{ matrix.pair.elixir }}
          version-type: strict

      - uses: actions/cache@v3
        with:
          path: deps
          # ezstd and brotli are compiling native objects to deps/x/_build, not _build,
          # so we need to cache per OTP
          key: mix-otp-${{ matrix.pair.otp }}-deps-${{ hashFiles('**/mix.lock') }}

      - run: mix deps.get

      - run: mix format --check-formatted
        if: ${{ matrix.lint }}

      - run: mix deps.unlock --check-unused
        if: ${{ matrix.lint }}

      - run: mix deps.compile

      - run: mix compile --no-optional-deps --warnings-as-errors
        if: ${{ matrix.lint }}

      - run: mix test --slowest 5
        if: ${{ ! matrix.lint }}

      - run: mix test --slowest 5 --warnings-as-errors
        if: ${{ matrix.lint }}
